/* Header Nav  */
.header-navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}

/* footer  */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: cyan;
    z-index: 10;
}

footer nav a {
    font-size: 1.1rem;
    color: inherit;
}

.select2-container {
    z-index: 1067 !important;
}
